---
import react from "@astrojs/react";
import React, { useState } from "react";
import Image from "astro/components/Image.astro";
import Frutas from "../assets/frutas.png";
import Frutasdos from "../assets/frutas2.png";
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
---

<div class="wrapper">
    <div class="herosectionwrapper">
        <div class="background-image"></div>


        <div class="textoherosectionwrapper" id="texto1">
            <h2 class="slogan">Transforma tu vida, bocado a bocado</h2>
            <h1>Guillermo Fernández de la Torre</h1>
            <h2>Dietista - Nutricionista</h2>
            <div class="appointment-button-herosection">CONTACTAR</div>
        </div>    
        <div class="imagenherosection">
            <Image
                alt="Guillermo fernandez nutricionista en Valencia"
                src={Frutas}
            />
        </div>

        <div class="textoresponsive" id="texto2">
        <div class="textoherosectionwrapper">
            <h2 class="slogan">Transforma tu vida, bocado a bocado</h2>
        </div>    
         <Image
                class="imagenfrutasdos"
                alt="Guillermo fernandez nutricionista en Valencia"
                src={Frutasdos}
            />
            <div class="textoherosectionwrapper">
            <h1>Guillermo Fernández de la Torre</h1>
            <h2>Dietista - Nutricionista</h2>
            <a href="/contacto">
                <div class="appointment-button-herosection">CONTACTAR</div>
            </a>
            </div>
        </div>
      
    </div>

</div>

<style>
    a {
        text-decoration: none;
    } 

    .textoresponsive {
        display: none;
    }
    .wrapper {
        z-index: 1;
        position: relative;
        top: 100px;
        width: 100%;
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
    }

 @keyframes fadeRightToLeft {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
 @keyframes fadeLeftToRight {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .herosectionwrapper {
        width: 100%;
        height: 100vh;
        background-image: url("../assets/background.png");
        background-position: center; /* Set the initial position to the right */
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:local;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .background-image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;

        z-index: 1;
        position: absolute;
    }

    .textoherosectionwrapper {
        width: 50%;
        /* Green color with 90% opacity */
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        position: absolute;
        animation: fadeLeftToRight 3s ease-in-out forwards;
    }

    .imagenherosection {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        align-items: center;
        position: absolute;
        right: 0;
        animation: fadeRightToLeft 3s ease-in-out forwards;
    }

    .imagenherosection img {
        width: 100%;
        height: auto;
    }

    .imagenfrutasdos {
        display: none;
    }

    .textoherosectionwrapper > .slogan {
        color: black;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        font-family: "Montserrat";
    }

    .textoherosectionwrapper h2 {
        color: black;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }

    .textoherosectionwrapper h1 {
        color: black;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        font-family: "Montserrat";
        text-shadow: 10px 6px 34px rgba(0, 0, 0, 0.8);
    }

    .textoherosectionwrapper p {
        color: black;
        font-size: 18px;
        font-weight: medium;
        text-align: center;
        font-family: "Montserrat";
    }

    .appointment-button-herosection {
        position: relative;
        padding: 1rem;
        background-color: #f37d73;
        color: #fff;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1;
        /* Added z-index property */
    }

    .appointment-button-herosection:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        background-color: #abccb9;
        padding: 1rem;
        transform: scale(1.3);
        cursor: pointer;
    }

    .appointment-button-herosection::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 70px rgba(254, 249, 249, 0.5);
        animation: shinyAnimation 2.5s infinite;
    }

    @keyframes shinyAnimation {
        to {
            left: 100%;
        }
    }

    @media screen and (max-width: 1500px) {
        .textoherosectionwrapper {
            margin-left: 0;
        }

        .textoherosectionwrapper h2 {
            width: 70%;
        }
    }

    @media screen and (max-width: 1220px) {
        .textoherosectionwrapper h2 {
            width: 100%;
        }
        .textoherosectionwrapper {
            margin-left: 20px;
        }
        .textoherosectionwrapper > .slogan {
            width: 70%;
        }
        .wrapper {
            top: 70px;
        }
    }
    @media screen and (max-width: 1095px) {
        .textoherosectionwrapper > .slogan {
            width: 80%;
        }
        .imagenherosection img {
            width: 110%;
        }
    }
    @media screen and (max-width: 960px) {
        .textoherosectionwrapper > .slogan {
            width: 90%;
        }
        .imagenherosection img {
            width: 110%;
        }

        .textoherosectionwrapper h1 {
            width: 70%;
        }
    }
    @media screen and (max-width: 960px) {
        .textoherosectionwrapper h1 {
            width: 80%;
        }
    }
    @media screen and (max-width: 850px) {
        #texto1 {
            display: none;
        }

        .textoresponsive {
            flex-wrap: wrap;
        }

        #texto2 {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-content: center;
        }
        .wrapper {
            overflow-y: hidden;
           height: auto;
            
        }
        .herosectionwrapper {
            overflow-x: hidden;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 30px;
        }
        #texto2 .imagenfrutasdos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: auto;
            gap: 0;
            margin-left: 25%;
            animation: fadeRightToLeft 3s ease-in-out forwards;

        }
        .imagenherosection {
            display: none;
        }
        .textoherosectionwrapper {
            width: 100%;
            margin: 0;
            gap: 0;
            justify-content: space-evenly;
            position: relative;

        }
       
        .background-image {
            height: 100vh;
            background-size: auto;
        }
    }

    @media screen and (max-width: 820px) {
        .textoherosectionwrapper > .slogan {
            width: 60%;
        }
    }
    @media screen and (max-width: 637px) {
        .textoherosectionwrapper > .slogan {
            width: 70%;
        }
    }

    @media screen and (max-width: 599px) {
        .textoherosectionwrapper h1 {
            width: 60%;
        }

        .imagenfrutasdos {
            width: 60%;
            margin-left: 20%;
        }
    }
    @media screen and (max-width: 546px) {
        .textoherosectionwrapper > .slogan {
            width: 90%;
        }
    }
    @media screen and (max-width: 527px) {
        .textoherosectionwrapper h1 {
            width: 65%;
        }
    }
    @media screen and (max-width: 485px) {
        .textoherosectionwrapper h1 {
            width: 70%;
        }
    }

    @media screen and (max-width: 450px) {
        .textoherosectionwrapper h2 {
            font-size: 32px;
        }

        .textoherosectionwrapper > .slogan {
            font-size: 32px;
        }
        .textoherosectionwrapper h1 {
            width: 80%;
        }
    }
    @media screen and (max-width: 395px) {
        .textoherosectionwrapper h2 {
            width: 100%;

            font-size: 30px;
        }

        .textoherosectionwrapper h1 {
            width: 95%;
        }
        .textoherosectionwrapper {
            width: 90%;
            gap: 0;
        }

        .herosectionwrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (max-width: 380px) {
        .textoherosectionwrapper h2 {
            width: 100%;

            font-size: 30px;
        }

        .textoherosectionwrapper > .slogan {
            width: 100%;
        }
    }
    @media screen and (max-width: 370px) {
        .textoherosectionwrapper h1 {
            width: 100%;
        }
        .textoherosectionwrapper h2 {
            width: 100%;
        }
    }
    @media screen and (max-width: 352px) {
        .textoherosectionwrapper h1 {
            width: 110%;
        }
    }

    @media screen and (max-width: 340px) {
        .textoherosectionwrapper h2 {
            font-size: 29px;
        }

        .textoherosectionwrapper > .slogan {
            font-size: 29px;
        }
        .textoherosectionwrapper h1 {
            width: 100%;
            font-size: 28px;
        }
    }

    @media screen and (max-width: 309px) {
        .textoherosectionwrapper h2 {
            font-size: 27px;
        }

        .textoherosectionwrapper > .slogan {
            font-size: 27px;
        }
        .textoherosectionwrapper h1 {
            font-size: 25px;
        }
    }

    @media screen and (max-width: 286px) {
        .textoherosectionwrapper h2 {
            font-size: 25px;
        }

        .textoherosectionwrapper > .slogan {
            font-size: 25px;
        }
        .textoherosectionwrapper h1 {
            font-size: 23px;
        }
    }
</style>
