---
import { Image } from 'astro:assets';
import Icon1 from "../assets/icon1.webp";
import Icon2 from "../assets/icon2.webp";
import Icon3 from "../assets/icon3.webp";
import Icon4 from "../assets/icon4.webp";
---

<div class="wrapperservicios" id="servicios">
    <div class="wrappertituloservicios">
        <h2>SERVICIOS EN NUTRICIÓN</h2>
        <h3>Online y Presencial</h3>
    </div>

    <div class="wrapperrectangulosservicios">
        <div class="rectangulo1">
            <Image
                class="imageservicios"
                src={Icon1}
                alt="Guillermo Fernández dietista nutricionista en Valencia"
            />
            <div class="textorectangulowrapper">
                <h3>Nutrición Clínica</h3>
                <p>Revitaliza tu salud con soluciones personalizadas.</p>
                <p>Estrategia integral para cada condición.</p>
                <p>Consejería detallada y apoyo continuo.</p>
            </div>
            <a href="/nutricionclinica">
                <div class="vermasserviciosbutton">VER MÁS</div>
            </a>
        </div>

        <div class="rectangulo2">
            <Image
                class="imageservicios"
                src={Icon2}
                alt="Guillermo Fernández dietista nutricionista en Valencia"
            />
            <div class="textorectangulowrapper">
                <h3>Pérdida De Peso</h3>
                <p>Alcanza tu peso ideal con un enfoque personalizado.</p>
                <p>Planificación nutricional meticulosa.</p>
                <p>Apoyo integral y motivación constante.</p>
            </div>
            <a href="/perdidadepeso">
                <div class="vermasserviciosbutton">VER MÁS</div>
            </a>
        </div>
        <div class="rectangulo3">
            <Image
                class="imageservicios"
                src={Icon3}
                alt="Guillermo Fernández dietista nutricionista en Valencia"
            />
            <div class="textorectangulowrapper">
                <h3>Nutrición Deportiva</h3>
                <p>Maximizando tu máximo nivel deportivo.</p>
                <p>Especialización en diferentes deportes.</p>
                <p>Estrategias personalizadas.</p>
            </div>
            <a href="/nutriciondeportiva">
                <div class="vermasserviciosbutton">VER MÁS</div>
            </a>
        </div>
        <div class="rectangulo3">
            <Image
                class="imageservicios"
                src={Icon4}
                alt="Guillermo Fernández dietista nutricionista en Valencia"
            />
            <div class="textorectangulowrapper">
                <h3>Hábitos Alimentarios</h3>
                <p>Transformación de rutinas alimentarias.</p>
                <p>Creando un equilibrio nutritivo.</p>
                <p>Soporte en cada paso.</p>
            </div>
            <a href="/habitosalimentarios">
                <div class="vermasserviciosbutton">VER MÁS</div>
            </a>
        </div>
    </div>
</div>

<style>
    a {
        text-decoration: none;
    }
    .wrapperservicios {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
        padding: 60px 0px;
    }

    .wrappertituloservicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        width: 90%;
    }

    .wrapperservicios h2 {
        font-size: 50px;
        font-weight: 800;
        font-family: "Montserrat";
        color: #A1C8AD;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
    }

    .wrapperservicios h3 {
        font-size: 35px;
        font-weight: 400;
        font-family: "Montserrat";
        color: black;
        margin: 0;
        text-align: center;
    }

    .wrapperrectangulosservicios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
    }

    .rectangulo1,
    .rectangulo2,
    .rectangulo3 {
        border: 5px rgb(242, 120, 109, 0.7) solid;
        width: 350px;
        height: 500px;
        border-radius: 16%;
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
        padding: 20px;
        background-color: white;
        position: relative;
    }

    .imageservicios {
        width: 125px;
        height: auto;
    }

    .textorectangulowrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0px;
    }

    .textorectangulowrapper h3 {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .textorectangulowrapper p {
        margin-top: 10px;
        font-family: "Montserrat";
        font-size: 16px;
        text-align: center;
        color: black;
    }

    .vermasserviciosbutton {
        position: relative;
        padding: 1rem;
        background-color: #f37d73;
        color: #fff;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: fit-content;
    }

    .vermasserviciosbutton:hover {
        background-color: rgba(171, 204, 185, 1);
        color: #fff;
        cursor: pointer;
        transition: 0.4s;
    }

    @media screen and (max-width: 1000px) {
        .rectangulo1,
        .rectangulo2,
        .rectangulo3 {
            margin: 20px 50px;
        }
    }
    @media screen and (max-width: 600px) {
        .wrapperrectangulosservicios {
            width: 100%;
        }
        .rectangulo1,
        .rectangulo2,
        .rectangulo3 {
            margin: 20px 10px;
        }

        .wrappertituloservicios h2 {
            font-size: 40px;
        }
        .wrappertituloservicios h3 {
            font-size: 30px;
        }
    }
    @media screen and (max-width: 470px) {
        .wrappertituloservicios h2 {
            font-size: 40px;
        }
        .wrappertituloservicios h3 {
            font-size: 30px;
        }

        .rectangulo1,
        .rectangulo2,
        .rectangulo3 {
            margin: 20px 5px;
        }
    }
    @media screen and (max-width: 420px) {
        .rectangulo1,
        .rectangulo2,
        .rectangulo3 {
            margin: 20px 25px;
        }
    }
    @media screen and (max-width: 380px) {
        .wrappertituloservicios h2 {
            font-size: 30px;
        }
        .wrappertituloservicios h3 {
            font-size: 25px;
        }
    }
    @media screen and (max-width: 360px) {
        .rectangulo1,
        .rectangulo2,
        .rectangulo3 {
            margin: 20px 20px;
        }
    }
    @media screen and (max-width: 340px) {
        .textorectangulowrapper h3 {
            font-size: 25px;
        }
        .textorectangulowrapper p {
            font-size: 16px;
        }
        .wrappertituloservicios h2 {
            font-size: 35px;
        }
        .wrappertituloservicios h3 {
            font-size: 25px;
        }
        .rectangulo1,
        .rectangulo2,
        .rectangulo3 {
            height: auto;
        }
    }
    @media screen and (max-width: 290px) {
        .textorectangulowrapper h3 {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 290px) {
        .wrappertituloservicios h2 {
            font-size: 30px;
        }
        .wrappertituloservicios h3 {
            font-size: 20px;
        }
    }
</style>
