---
import Image from "astro/components/Image.astro";
import react from "@astrojs/react";
import Icon1 from "../assets/icon1.png";
import Icon2 from "../assets/icon2.png";
import Icon3 from "../assets/icon3.png";
---

<div class="wrapperrectangulosservicios">
    <div class="rectangulo2">
        <Image
            class="imageservicios"
            src={Icon1}
            alt="Guillermo Fernández dietista nutricionista en Valencia"
        />
        <div class="textorectangulowrapper">
            <h3>Nutrición Clínica</h3>
            <p>Revitaliza tu salud con soluciones personalizadas.</p>
            <p>Estrategia integral para cada condición.</p>
            <p>Consejería detallada y apoyo continuo.</p>
        </div>
        <div class="vermasserviciosbutton">VER MÁS</div>
    </div>

    <!-- <div class="rectangulo">
        <Image
            class="imageservicios"
            src={Icon3}
            alt="Guillermo Fernández dietista nutricionista en Valencia"
        />
        <div class="textorectangulowrapper">
            <h3>Nutrición Deportiva</h3>
            <p>Maximizando tu máximo nivel deportivo.</p>
            <p>Especialización en diferentes deportes.</p>
            <p>Estrategias personalizadas.</p>
        </div>
        <div class="vermasserviciosbutton">VER MÁS</div>
    </div>

    <div class="rectangulo">
        <Image
            class="imageservicios"
            src={Icon2}
            alt="Guillermo Fernández dietista nutricionista en Valencia"
        />
        <div class="textorectangulowrapper">
            <h3>Pérdida De Peso</h3>
            <p>Transformación de rutinas alimentarias.</p>
            <p>Creando un equilibrio nutritivo.</p>
            <p>Soporte en cada paso.</p>
        </div>
        <div class="vermasserviciosbutton">VER MÁS</div>
    </div> -->
</div>

<style>


    .rectangulo1 {
        opacity: 0;
        transform: translateX(-100%);
        transition:
            opacity 1s ease,
            transform 2s ease;
    }

    .rectangulo1.animated {
        opacity: 1;
        transform: translateX(0px);
    }


.wrapperrectangulosservicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: red;
}

.rectangulo {
    border: 5px rgb(242, 120, 109, 0.7) solid;
    width: 400px;
    height: 500px;
    border-radius: 18%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}

.imageservicios {
    width: 125px;
}

.textorectangulowrapper {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;
    margin: 0 25px;
}

.textorectangulowrapper h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.textorectangulowrapper p {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    color: black;
}

.vermasserviciosbutton {
    position: relative;
    padding: 1rem;
    background-color: #F37D73;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);    
    width: fit-content;
    margin-top: 20px;
}


.vermasserviciosbutton:hover {
    background-color: rgba(171, 204, 185, 1);
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
  // Function to check if an element is in viewport
  function isInViewport(element: Element) {
    var rect = element.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  // Function to handle scroll event
  function handleScroll() {
    var cards = document.querySelectorAll('.rectangulo1');
    cards.forEach(function(card) {
      if (isInViewport(card)) {
        card.classList.add('animated');
      }
    });
  }

  // Initial check on page load
  handleScroll();

  // Listen for scroll event
  window.addEventListener('scroll', handleScroll);
});
</script>